
<div class="jumbotron vertical-center text-center">
    <div class="container">
        <br>
        <h1 class="">Wanderlust</h1>
        <p class="lead">Search. Plan. Enjoy.</p>
        <a href="countries#index" class="btn btn-lg btn-light">Countries</a>
        <a href="activities#index" class="btn btn-lg btn-light">Activities</a>
    </div>
</div>