
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to North America</h1>
    <p class="lead">North America, the planet's 3rd largest continent, includes (23) countries and dozens of possessions and territories. It contains all Caribbean and Central America countries, Bermuda, Canada, Mexico, the United States of America, as well as Greenland - the world's largest island</p>
  </div>
</div>

<div class="container">
  <br>
  <div class="row">
    <% @africa.each do |continent| %>
    <br>
    <div class="col-sm-3">
      <div class="card text-center">
        <img src="https://wallpaper-gallery.net/images/america-hd-wallpapers/america-hd-wallpapers-2.jpg" class="card-img-top" alt="Golden Gate Bridge">
        <div class="card-body">
          <h5 class="card-title"><%= continent %></h5>
          <p class="card-text">North America is one of two continents named after the Italian explorer Amerigo Vespucci, with a surface area of 24,221,490km² (9,351,969 square miles).</p>
          <a href="/countries/show" class="btn btn-warning">Show Me More</a>
        </div>
      </div>
    </div>
  <% end %>
</div>
