<div class="container">
  <br>
  <h1 class="text-danger">Activities: </h1>
 <button type="button" class="btn btn-light"><%= link_to 'Create New Activity', new_activity_path %></button>
  <br>
  <ul>
    <% @activities.each do |activity| %>
    <li><%= link_to "#{activity.name} in #{activity.country.name}", activity_path(activity), :class => "text-info"%></li>
    <% end %>
  </ul>
</div>
