<!-- Jumbotron style for the heading -->
<div class="container pt-4">
  <div class="jumbotron text-center">
    <h1 class="display-4">The World is Your Oyster</h1>
    <p class="lead">Explore the activities for inspiration</p>
    <button type="button" class="btn btn-outline-dark"><%= link_to 'Or Create New Activity', new_activity_path, :class => "text-dark" %></button>
  </div>
</div>
<!-- Each statment to print out a card style box for each continent with image. -->
<div class="container">
  <br>
  <div class="row">
    <% @activities.each do |activity| %>
    <br>
    <div class="col-sm-3 pt-4">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title"><%= activity.name %></h5>
          <p class="card-text"><%= activity.notes %></p>
          <!-- Link to the countries show page -->
          <%= link_to "Read More...", activity_path(activity), :class => "btn btn-dark"%>
        </div>
      </div>
    </div>
  <% end %>
</div>
</div>
